//Plugins
@import 'service/fotorama';
//Fonts
@import 'fonts';
//Parts
@import 'parts/header';
@import 'parts/block1';
@import 'parts/projects';
@import 'parts/gallery';
@import 'parts/about';
@import 'parts/contacts';

// @import 'parts/footer';

* {
  box-sizing: border-box;
}

body {
  font-family: 'NotoSans';
  display: flex;
  justify-content: center;
  padding: 0 15px;
  // background-image: url('../images/bg.jpg');
  background-color: #e2dce0;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 25px 0 50px 0;
  // border: 1px solid black;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 16px;
}

button {
  color: black;
  background: none;
  outline: none;
  border-radius: 4px;
  border: 1px solid black;
  padding: 7px 20px;
  transition: 220ms linear;
  &:hover {
    cursor: pointer;
  }
}

.bold {
  font-weight: bold;
}
