.about {
  color: white;
  padding: 50px 15px;

  background-color: $accent;
  .container {
    min-height: 700px;
    background-image: url('../images/about.png');
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right -15px bottom -10px;
  }
  .sectionTitle {
    max-width: 1000px;
    text-align: center;
    font-weight: bold;
    // text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    margin-bottom: 30px;
  }

  p, li {
    font-size: 20px;
    max-width: 1000px;
    text-align: justify;
    line-height: 1.5;
  }
  li {
    text-align: left;
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .scheme {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}


//@media//-------------------------------------------------
@media (max-width: 500px) {
  .about {
    padding: 25px 15px;
    .container {
      background-position: right -15px bottom 150px;
    }
    .sectionTitle {
      font-size: 35px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
    }
  }
}
