.block1 {
  padding: 100px 50px;
  // color: white;
  background: #fff;


  h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }
}

.block2 {
  padding: 100px 50px;
  color: white;
  background: url('../images/block2_bg.jpg');
  background-attachment: scroll;

  h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  }
}
