.contacts {
  background: rgba(53, 52, 51, 1);
  padding: 50px;

  .sectionTitle {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 50px;
  }
}

.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-links {
  width: 50%;
}

.contacts-item {
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
  svg {
    color: orange;
    font-size: 30px;
    margin-right: 30px;
  }
  a, span {
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
  }
}
.map {
  width: 50%;
}

.message {
  padding: 50px 50px 50px;
  background: url('../images/block2_bg.jpg');
  .sectionTitle {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 50px;
  }
}
.message-form {
  input, textarea {
    display: block;
    border-radius: 4px;
    border: 2px solid orange;
    width: 600px;
    margin: 0 auto 15px;
    padding-left: 15px;
  }

  input {
    height: 35px;
  }
  button {
    display: block;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid orange;
    border-radius: 4px;
    margin: 0 auto;
    background: white;
    &:hover {
      color: white;
      background: orange;
      box-shadow: 0 5px 5px rgba(0,0,0,0.20);
    }
  }
}
