.goodsPopUp {
  background: #e2dce0;
  padding: 50px;
  box-shadow: 0 5px 15px 5px rgba(127, 127, 127, 0.3);
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  border: 3px solid gray;

  .flex {
    display: flex;
  }

  &__cover {
    display: flex;
    border-right: 2px solid $accent;
    padding-right: 30px;
    align-items: center;
    width: 50%;
  }

  &__img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  &__info {
    width: 50%;
    padding-left: 30px;
  }

  &__title {
    font-family: "OpenSansBold", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__desc {
    font-family: "OpenSansRegular", sans-serif;
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.5em;

    span {
      display: inline-block;
      margin-right: 10px;
    }
    .key {
      min-width: 170px;
    }
    .val {
      font-family: "OpenSansSemiBold", sans-serif;
      font-size: 1.2em;
      letter-spacing: 1px;

      i {
        font-size: 0.86em;
      }
    }
  }

  &__price {
    font-family: "OpenSansBold", sans-serif;
    font-size: 1.250em;
    font-weight: bold;
    margin-bottom: 40px;

    .highlight {
      color: $accent;
      font-size: 1.25em;
    }
  }

  .requestForm {
    &__title {
      font-family: "NotoSans", sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &__label {
      font-family: "NotoSans", sans-serif;
      color: gray;
      font-size: 0.85em;
      display: block;
      margin-bottom: 4px;
    }

    &__input {
      font-size: 16px;
      display: block;
      width: 100%;
      height: 40px;
      outline: none;
      border: none;
      border-bottom: 3px solid $accent;
      border-radius: 5px 5px 0 0;
      background: none;
      padding: 10px 10px 10px 15px;
      margin-bottom: 20px;

      &:focus {
        border-color: $accent;
        background: #8a8a8a21;
      }
    }
    button {
      display: block;
      font-weight: bold;
      font-size: 16px;
      border: 3px solid gray;
      border-radius: 4px;
      margin: 30px auto 0;
      // margin-top: 30px;
      &:hover {
        // background: darken($accent, 15%);
        // background: lighten($accent, 5%);
        border-color: $accent;
        box-shadow: 0 5px 5px rgba(0,0,0,0.20);
      }
    }
  }
}
