.popUp__close {
  font-size: 1.85em;
  transition: 220ms;
  position: absolute;
  top: 20px;
  right: 20px;

  &:hover {
    color: orange;
    cursor: pointer;
  }
}

.requestPopUp {
  max-width: 421px;
  background: white;
  padding: 40px;
  box-shadow: 0 5px 15px 5px rgba(127, 127, 127, 0.3);
  position: relative;
  margin: 0 auto;
  z-index: 500;

  .requestForm {
    width: 100%;
  }
}

.requestForm {

  &__title {
    font-family: "OpenSansBold", sans-serif;
    font-size: 1.250em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__label {
    font-family: "OpenSansSemiBold", sans-serif;
    color: gray;
    font-size: 0.85em;
    display: block;
    margin-bottom: 4px;
  }

  &__input {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid silver;
    border-radius: 4px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 20px;

    &:focus {
      border-color: orange;
    }
  }
}
