.goods {
  padding: 50px;
  // color: white;
  // background: #fff;
  .sectionTitle {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    margin-bottom: 30px;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.project {
  width: calc(50% - 30px);
  padding-bottom: 30px;
  margin: 15px 15px 30px;
  border-radius: 5px;
  border: 3px solid gray;
  transition: 220ms;
  // box-shadow: 0 5px 5px rgba(0,0,0,0.30);
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
&:hover {
  cursor: pointer;
  border-color: $accent;
  // box-shadow: 0 5px 5px rgba(0,0,0,0.20);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  h3 {
    // color: $accent;
  }
}

  &-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  &-title {
    padding: 15px 30px;
    h3 {
      text-align: center;
      font-weight: bold;
    }
  }
  &-info {
    padding: 0 15px;
    margin-bottom: 50px;

    li {
      margin-bottom: 10px;
    }
    span {
      display: inline-block;
      min-width: 185px;
      margin-right: 5px;
    }
  }
  &-order {
    text-align: center;
    button {
      font-weight: bold;
      font-size: 16px;
      border: 3px solid gray;
      border-radius: 4px;
      &:hover {
        // background: darken($accent, 15%);
        // background: lighten($accent, 5%);
        border-color: $accent;
        box-shadow: 0 5px 5px rgba(0,0,0,0.20);
      }
    }
  }
}
