.block1 {
  font-weight: bold;
  text-align: center;
  padding: 100px 50px;
  // color: white;
  background: #fff;
}

.block2 {
  font-weight: bold;
  text-align: center;
  padding: 100px 50px;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
  color: white;
  background: url('../images/block2_bg.jpg');
  background-attachment: scroll;
}
