header {
  height: 400px;
}

nav {
  height: 75px;
  background: transparentize(black, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 40px;
    height: 20px;
    background: white;
    margin: 0 auto 0 15px;
  }

  .link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0 15px;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    transition: 220ms linear;
    &:hover {
      border-bottom: 3px solid orange;
    }
  }
}
